<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会員登録</title>
</head>
<body>

<h1>会員登録</h1>

<form th:action="@{/members}" th:object="${member}" method="post">

    <div>
        <label>名前</label>
        <input type="text" th:field="*{name}">
    </div>

    <div>
        <label>メールアドレス</label>
        <input type="email" th:field="*{email}">
    </div>

    <div>
        <label>パスワード</label>
        <input type="password" th:field="*{password}">
    </div>

    <div>
        <label>年齢</label>
        <input type="number" th:field="*{age}">
    </div>

    <br>

    <button type="submit">登録</button>
</form>

<br>

<a th:href="@{/members}">一覧へ戻る</a>

</body>
</html>